

.card img {
  /* i think these two values strike a good balance between being able to see the images clearly 
  while preventing them from hiding other posts off-screen*/
  max-width: 50vh;

  max-height: 30vh;

  /* this forces the images to always keep their aspect ratio regardless of how their sizes are changed */
  object-fit: contain;
}

.postButton button {
  min-width: 5rem;
}

.saveButton {
  min-width: 7rem;
}

.reply {
  width: 100%;
  align-self: end;
  display: inline-flex;
}


.line {
  flex-grow: 0.03;
  border-width: 0 0 0 1px;
  border-style:solid;
  border-color: var(--bs-border-color-translucent);
  transition-duration: 0.3s;
}

.reply p{
  margin:0
}

.topPost {
  margin-top: 2vh;
  margin-bottom: 2vh;

}
.topPostBottom {
  border-width: 0 0 1px 0;
  border-style:solid;
  border-color: var(--bs-border-color-translucent);
}

.ql-editor {
  min-height: 10vh
}

.card-footer {
  transition-duration: 0.3s;
  
}

.card-footer:hover {
  background-color: #c3c3c34f
}

.card-footer:active {
  background-color: #c3c3c3b4
}