.profile {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
}

.image {
  align-self: center;
  justify-self: center;
  margin-right: 1vw;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.edit button {
  min-width: 8rem;
}

.information {
  flex-grow: 1;
}

.profilePost {
  margin-bottom: 1vh;
}

.saveButton {
  min-width: 7rem;
}